* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: #555;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #111;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #c1121c;
    color: #fff;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.pure-button-primary {
    background: #fff;
    color: #111;
    border-radius: 5px;
    font-size: 120%;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
}

.home-menu {
    background: #fff;
}

.home-menu .pure-menu-heading {
    color: #111;
    font-weight: 400;
    font-size: 120%;
    text-transform: none;
}

.home-menu a {
    color: #c1121c;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background-color: #c1121c;
    border: none;
    color: #fff;
    border-radius: 5px;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */
.splash-container {
    /* Verkehrsrot */
    background-color: #c1121c;
    overflow: hidden;
    height: 40rem;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 5rem;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.splash-head {
    font-size: 20px;
    color: #fff;
    border: 3px solid #fff;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: #fff;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    pre {
        font-size: 13px;
    }

    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}
